@import "global";
@import "fonts";

header{
    position: relative;
    padding: 0 2rem;
    margin-top: 1rem;
    font-family: $main-font;
}

.nav-container {
    max-width: 75rem;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-list {
    display: flex;
}

.nav-item {
    display:flex;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-item a {
    display: flex;
}

a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 1.2rem;
}

a:hover {
    color: #ffa500;
}

.logo a {
    font-family: $logo-font;
    font-size: 2rem;
}

// .act-btn {
    
//     color: #ffffff;
// }

.nav-container .toggle-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
    

